.nav--tours {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
  @media only screen and (max-width: 62.5em) {
    margin-bottom: 1.5rem;
  }
  @media only screen and (max-width: 37.5em) {
    margin-bottom: 0;
  }
}
